/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 300px;
  position: relative;
  width: 500px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.floating-panel {
  position: absolute;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#floating-panel-1 {
  top: 10px;
  left: 125px;
  z-index: 5;
  width: 350px;
}

#floating-panel-2 {
  top: 55px;
  left: 125px;
  z-index: 5;
  width: 250px;
}

#resize-button {
  font-weight: bold;
  top: 55px;
  left: 397px;
  z-index: 5;
  width: 95px;
}